.explore-btn-slide {
  font-family: "La Belle Aurore";
  padding: 0.5rem;
  background: rgba(116, 76, 9, 0.8);
  border-radius: 999px;
  border: 2px solid #c1c1c1;
  transition: 0.6s;
  box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.35);

  &:hover {
    animation: rubberBand 1s;
    animation-fill-mode: forwards;
    box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.4);
  }
}

.embla {
  z-index: 26;
  max-width: 40rem;
  margin: auto;
  --slide-height: 27rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  margin-right: 2rem;
  margin-left: 2rem;
  overflow: hidden;

  // border: 1px solid rgba(226, 173, 80, 0.6);
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  transition: 0.6s;
  // border: 1px solid rgba(226, 173, 80, 0.6);
  // border-radius: 1.8rem;

  &:hover {
    .embla__slide__img {
      filter: grayscale(60%);
      scale: 1.05;
    }
    .slide-content {
      opacity: 1;
    }
  }

  // &:hover {
  //   .slide-content {
  //     opacity: 1;
  //     transition: 1s;
  //   }
  // }
}
.embla__slide__img {
  transition: 1s;
  border-radius: 1.8rem;
  display: block;
  max-height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(230, 230, 230, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.1rem rgb(234, 234, 234);
  width: 1.8rem;
  height: 1.8rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3rem;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(49, 49, 49), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(239, 239, 239, 0.2);
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  // width: 1rem;
  // height: 1rem;
  margin-right: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 0.2rem;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(rgb(25, 25, 25)) !important;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.8rem var(rgb(222, 222, 222)) !important;
  background: rgba(255, 255, 255, 0.8);
}
.embla__parallax {
  border-radius: 1.8rem;
  height: 100%;
  overflow: hidden;
}
.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.embla__parallax__img {
  max-width: none;
  flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
  object-fit: cover;
}
