.nav-container {
  opacity: 0.8 !important;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 1 !important;
  }
}

.nav-bar {
  filter: blur(.3px);
  // border-top-right-radius: 10px;
  border-right: 1px solid rgba(255, 203, 116, 0.6);
  background: rgba(10, 8, 15, 0.1);
  width: 65px;
  min-height: 100vh !important;
  // position: absolute;
  position: fixed;
  top: 0;
  z-index: 99;
  font-family: "coolvetica";
  transition: all 0.3s ease-in-out;
  &:hover {
    background: rgba(10, 8, 15, 1);
    filter: blur(0);
  }

  svg {
    color: #7d7d7d;
    &:hover {
      color: #ffcb74 !important;
    }
  }

  .logo {
    display: block;
    padding: 8px 0;

    &:hover {
      animation: rubberBand 1s;
    }

    img {
      display: block;
      margin: 8px auto;
      width: 24px;
      height: auto;

      &.sub-logo {
        width: 50px;
      }
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 1.2rem;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      svg {
        width: 1.5rem;
        margin-left: 1.2rem;
        transition: all 0.5s ease-out;
      }

      i {
        transition: all 1s ease-out;
      }

      &:hover {
        color: #ffcb74;
        animation: rubberBand 1s;
        transition: all 0.3s ease-in;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        font-size: 0.6rem;
        // font-family: "coolvetica";
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transform: all 0.6s ease-out;
        // padding-right: 2rem !important;
      }

      &:first-child {
        &::after {
          content: "Home";
        }
      }
    }

    a.about {
      &:after {
        content: "About";
      }
    }

    a.blog {
      &:after {
        content: "Blog";
      }
    }

    a.contact {
      &:after {
        content: "Contact";
      }
    }

    a.active {
      svg {
        color: #ffcb74;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;

        svg {
          width: 1.5rem;
          margin-left: 1.2rem;
          transition: all 0.3s ease-out;
        }

        &:hover svg {
          color: #ffcb74;
          animation: rubberBand 1s !important;
        }
      }
    }
  }
}

.active {
  color: #ffcb74 !important;
}
