#Hero {
  .hero-container {
    .title {
      color: #dadada;
      font-family: "Coolvetica";
      letter-spacing: 0.2rem;
      font-size: 3.1rem;

      .cool-letters {
        font-family: "La Belle Aurore";
      }
    }
  }
}
