.glow {
  background-color: rgba(115, 76, 8, 0.25);
}

.section-container {
  // border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: #efefef;
  font-family: "Coolvetica";
  width: 100%;
  height: auto;

  .title {
    width: 60vw;
    // animation: bounceInDown 1.5s;
    //   animation-fill-mode: forwards;
    // letter-spacing: 0.2rem;
    // font-size: 3.1rem;
    position: relative;
    .cool-letters {
      font-family: "La Belle Aurore";
    }

    &::before {
      animation: bounceInDown 1.5s;
      animation-fill-mode: forwards;
      content: "<h1>";
      font-family: "La Belle Aurore";
      color: #ffcb74;
      font-size: 1.1rem;
      position: absolute;
      top: -1rem;
      margin-top: -0.7rem;
      left: auto;
      opacity: 0.6;
      margin-right: 0.5rem;
    }

    &::after {
      animation: bounceInUp 1.5s;
      animation-fill-mode: forwards;
      content: "</h1>";
      font-family: "La Belle Aurore";
      color: #ffcb74;
      font-size: 1.1rem;
      position: absolute;
      bottom: -1rem;
      margin-left: 0.5rem;
      right: auto;
      // right: 2rem;
      // margin-top: 2rem;
      // margin-left: 20px;
      // animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }
}

#Hero {
  // border: 2px solid #fff;
  // background:
  //   radial-gradient(
  //     circle at center,
  //     rgba(156, 18, 18, 0.2) 1%,
  //     rgba(10, 8, 15, 0) 100%
  //   ),
  //   url("") center !important;
  height: 90vh;
  display: block;
  font-family: "Coolvetica";
}

.roll-container {
  width: 60%;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
  color: #ffcb74;
  // font-size: 0.7rem;
  // animation: fadeIn 1s 1.8s backwards;
  span {
    margin: 0;
    line-height: 0;
    text-shadow: -4px 6px 5px rgba(0, 0, 0, 0.6);
    // font-size: 2rem;
    // opacity: 0;
  }
}

.paragraphs {
  z-index: 22;
  padding-left: 1rem;
  height: auto;
  width: 80%;
  text-align: center !important;

  .about-text {
    margin-bottom: 0.5rem;
    font-weight: 100;
    font-family: "Coolvetica";
  }

  &::before {
    animation: bounceInDown 1.5s;
    animation-fill-mode: forwards;
    content: "<p>";
    font-family: "La Belle Aurore";
    color: #ffcb74;
    // font-size: 1rem;
    position: relative;
    top: 0.5rem;
    margin-top: -0.7rem;
    left: -50%;
    opacity: 0.6;
    margin-right: 0.5rem;
  }

  &::after {
    animation: bounceInUp 1.5s;
    animation-fill-mode: forwards;
    content: "</p>";
    font-family: "La Belle Aurore";
    color: #ffcb74;
    // font-size: 1rem;
    position: relative;
    bottom: -1rem;
    margin-left: 0.5rem;
    right: -50%;
    // right: 2rem;
    // margin-top: 2rem;
    // margin-left: 20px;
    // animation: fadeIn 1s 1.7s backwards;
    opacity: 0.6;
  }
}

.tech-container,
.experience-container {
  opacity: 1;
  // position: absolute;
  z-index: 25 !important;

  // .role-description{
  //   text-align: left;
  // }

  .tech-description {
    color: rgb(199, 199, 199);
  }

  .tech-icons {
    opacity: 0.9;
    background: rgba(228, 158, 18, 0.2);
    color: #f1f1f1;
  }

  .tech-logos {
    &:hover {
      animation: rubberBand 1s;
      animation-fill-mode: forwards;
    }
  }

  .Python,
  .MariaDB {
    background: rgba(18, 132, 247, 0.65) !important;
  }
  .Java,
  .SQL {
    background: rgba(248, 152, 32, 0.65) !important;
  }
  .HTML {
    background: rgba(227, 79, 38, 0.65) !important;
  }
  .CSS {
    background: rgba(38, 77, 228, 0.65) !important;
  }
  .SCSS {
    background: rgba(236, 46, 217, 0.65) !important;
  }
  .Javascript {
    background: rgba(240, 219, 79, 0.65) !important;
  }
  .Typescript {
    background: rgba(79, 146, 240, 0.65) !important;
  }
  .React {
    background: rgba(60, 195, 248, 0.65) !important;
  }
  .Vite {
    background: rgba(79, 79, 240, 0.65) !important;
  }
  .Nextjs {
    background: rgba(13, 3, 100, 0.65) !important;
  }
  .Tailwindcss {
    background: rgba(70, 188, 247, 0.65) !important;
  }
  .GSAP {
    background: rgba(106, 237, 92, 0.65) !important;
  }
  .Arduino {
    background: rgba(53, 242, 220, 0.65) !important;
  }

  .role {
    // font-family: "La Belle Aurore";
    // font-size: 0.9rem;
    span {
      font-family: "Coolvetica" !important;
      letter-spacing: 0.1rem;
      color: #ffcb74;
    }
  }
}
