// .text-animate,
// .text-animate-hover {
//   font-family: "Coolvetica";
// }

// .text-animate-hover._21,
// .text-animate._21 {
//   font-family: "Coolvetica";
//   font-weight: 600;
//   margin-right: 0.3rem;
// }

.text-animate-hover._16 {
  animation-fill-mode: forwards;
  // animation: wobble 1.4s !important;
  // animation-iteration-count: infinite !important;

  &:hover {
    animation: wobble 1.4s !important;
  }
}

.text-animate,
.text-animate-hover {
  text-shadow: -6px 6px 5px rgba(0, 0, 0, 0.6) !important;
  color: #efefef;
  font-family: "Coolvetica";
}

.text-animate {
  display: inline-block !important;
  opacity: 0;
  animation: jackInTheBox 1s 1s;
  //   animation-iteration-count: 1;
  animation-fill-mode: both;
  min-width: 10px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;

  &:hover {
    animation: rubberBand 1s;
    color: #ffcb74;
  }
}

@for $i from 1 through 40 {
  .text-animate._#{$i} {
    animation-delay: #{$i / 10}s;
  }
}

@for $i from 21 through 40 {
  .text-animate._#{$i},
  .text-animate-hover._#{$i} {
    font-family: "La Belle Aurore" !important;
  }
}

.back-to-top-btn {
  color: #efefef;

  &:hover {
    animation: bounce 1s;
    animation-fill-mode: forwards;
    color: #ffcb74;
  }
}

.default-button {
  min-width: 60px;
  font-family: "La Belle Aurore";
  z-index: 23;
  color: #ffcb74;
  border: 2px solid #ffcb74;
  transition: all 1s;
  box-shadow: -8px 7px 8px rgba(0, 0, 0, 0.4);

  &:hover {
    animation: rubberBand 1s;
    animation-fill-mode: both;
    background: rgba(53, 43, 10, 0.8);
    border: 2px solid #efefef;
    color: #efefef;
    box-shadow: -8px 7px 8px rgba(0, 0, 0, 0.5);
  }
}
